//==================================================
//==================================================
//-----  Line | Section's name | Last Update  ------
/*
[12]   //  Navigation Bar  All Pages   //  2023-1-4
[28]   //  Navigation Bar  CSSbattle   //  2022-12-14
[120]  //  Navigation Bar  YouTube     //  2022-12-14
[127]  //  Navigation Bar  Markdown    //  2023-1-4
[134]  //  Navigation Bar  HTML        //  2023-1-4
[134]  //  Navigation Bar  Home        //  2023-1-4
[134]  //  Navigation Bar  Books       //  2023-1-4

*/
//==================================================
//==================================================

//*==========  Navigation Bar All Pages  [START here]  ==========*//
.navigation__bar__cssbattle,
.navigation__bar__home,
.navigation__bar__youtube,
.navigation__bar__markdown,
.navigation__bar__html,
.navigation__bar__home,
.navigation__bar__books {
  height: 40px;
  width: 100%;
  -webkit-backdrop-filter: blur(0.3rem);
  backdrop-filter: blur(0.3rem);
  border: solid 1px transparent;
  border-bottom-color: rgba(255, 255, 255, 0.116);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  margin: 0;
  padding: 0;

  a {
    text-decoration: none;
  }
}
//*==========  Navigation Bar All Pages  [END here]  ==========*//

//*==========  CSSbattle  [START here]  ==========*//
.navigation__bar__cssbattle {
  display: flex;

  .back {
    color: rgb(214, 16, 16);
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    left: 0;
  }

  .links-container {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .links {
    margin: 0 2px;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    border: solid 1px #fff;
    text-shadow: 0 0 5px red;
  }
}

//*==========  CSSbattle  [END here]  ==========*//

//*==========  YouTube  [START here]  ==========*//
.navigation__bar__youtube {
  a {
    text-decoration: none;
  }
}
//*==========  YouTube  [END here]  ==========*//
//*==========  markdown  [START here]  ==========*//
.navigation__bar__markdown {
  a {
    text-decoration: none;
  }
}
//*==========  markdown  [END here]  ==========*//
//*==========  HTML Page  [START here]  ==========*//
.navigation__bar__html {
  a {
    text-decoration: none;
  }
}
//*==========  HTML Page   [END here]  ==========*//
