//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[14]   //  aside & All SideBar         //  2023-1-4
[26]   //  sidebar__markdown           //  2023-1-4
[118]  //  sidebar__html              //  2023-1-4
[00]   //  -------------------------   //  2023-0-0
[00]   //  -------------------------   //  2023-0-0
*/
//==================================================
//==================================================

//*==========  aside & All SideBar [START here]  ==========*//
.sidebar__markdown,
.sidebar__html {
  width: 250px;
  font-family: "Roboto", sans-serif;
  position: fixed;

  // outline: solid 1px red; //////////
}
//*==========  aside & All SideBar [END here]  ==========*//
//////////////////////////////////////////////////
//*==========  sidebar__markdown [START here]  ==========*//
.sidebar__markdown {
  top: 40px;
  left: 0;
  height: calc(100vh - 40px);
  .sidebar__contanier {
    background-image: -moz-linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    background-image: -webkit-linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    background-image: linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px 5px 5px 10px;

    .scroolbox {
      color: #ffffff;

      h1 {
        font-size: 1.3rem;
        word-wrap: normal;
        font-weight: 500;
        letter-spacing: 1.5px;
      }

      h2 {
        font-size: 0.9rem;
        word-wrap: normal;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: hsl(0, 0%, 80%);
      }

      div {
        padding-left: 10px;
        position: relative;
        height: 30px;
        text-align: left;
        transition: text-shadow, padding-left 300ms;
        padding-block: calc((30px - 19px) / 2);
        &::before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          top: 11px;
          left: 0;
          border: solid 5px transparent;
          transition: border-left-color 300ms;
        }

        &:hover::before {
          border-left-color: hsl(296, 100%, 50%);
        }
        &:hover {
          text-shadow: 0 0 5px hsl(272, 100%, 50%);
          padding-left: 12px;
        }

        a {
          text-decoration: none;
          font-size: 1rem;
          word-wrap: normal;
          font-weight: 400;
          letter-spacing: 1px;
          color: hsl(280, 100%, 87%);
        }

        &.sub__branch {
          margin-left: 15px;
          height: 20px;
          a {
            color: #848484;
          }
          // outline: 1px solid red; //////////
        }
      }
    }
  }
}
//*==========  sidebar__markdown [END here]  ==========*//
//////////////////////////////////////////////////
//*==========  sidebar__html [START here]  ==========*//
.sidebar__html {
  background-color: hsl(0, 0%, 3%);
  height: 100vh;
  top: 0;
  padding-top: 40px;
  .sidebar__contanier {
    background-image: -moz-linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    background-image: -webkit-linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    background-image: linear-gradient(
      to top,
      hsla(303, 100%, 17%, 0.205),
      hsla(0, 0%, 0%, 0)
    );
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 5px 5px 5px 10px;

    .scroolbox {
      color: #ffffff;

      h1 {
        font-size: 1.3rem;
        word-wrap: normal;
        font-weight: 500;
        letter-spacing: 1.5px;
      }

      h2 {
        font-size: 0.9rem;
        word-wrap: normal;
        font-weight: 400;
        letter-spacing: 0.9px;
        color: hsl(0, 0%, 80%);
      }

      div {
        padding-left: 10px;
        position: relative;
        height: 30px;
        text-align: left;
        transition: text-shadow, padding-left 300ms;
        padding-block: calc((30px - 19px) / 2);
        &::before {
          content: "";
          width: 0px;
          height: 0px;
          position: absolute;
          top: 11px;
          left: 0;
          border: solid 5px transparent;
          transition: border-left-color 300ms;
        }

        &:hover::before {
          border-left-color: hsl(296, 100%, 50%);
        }
        &:hover {
          text-shadow: 0 0 5px hsl(272, 100%, 50%);
          padding-left: 12px;
        }

        a {
          text-decoration: none;
          font-size: 1rem;
          word-wrap: normal;
          font-weight: 400;
          letter-spacing: 1px;
          color: hsl(280, 100%, 87%);
        }

        &.sub__branch {
          margin-left: 15px;
          height: 20px;
          a {
            color: #848484;
          }
          // outline: 1px solid red; //////////
        }
      }
    }
  }
}
//*==========  sidebar__html [END here]  ==========*//
