//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[17]   //  Main container              //  2022-12-14
[29]   //  ----                        //  2022-12-14
[85]   //  ----                        //  2022-12-14
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
____________________________________________________
[134]  header => _navigation.scss
[118]  sidebar => _navigation.scss
*/
//==================================================
//==================================================

.testing__body {
  background-color: var(--testing-body-bg);
}
//*==========  main Container testing Page [START here]  ==========*//
.main__container__testing__page {
  width: 100%;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
  padding: 100px;
  display: grid;
  place-items: center;

  ////////////////////////////////////////////////
  //////////////////////////////////////
  //*==========  Magic controller [START here]  ==========*//
  .controller__container {
    display: inline-block;
    font-family: "Roboto", sans-serif;

    .cards {
      display: flex;
      flex-direction: column;

      gap: 2px;
      width: 200px;
      min-height: 400px;
      border-radius: 0;
    }

    .cards:hover > .card::after {
      opacity: 1;
    }

    .card {
      cursor: pointer;
      height: 50px;
      width: 200px;
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .card:hover::before {
      opacity: 1;
    }

    .card::before,
    .card::after {
      content: "";
      height: 100%;
      width: 100%;
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      transition: opacity 500ms;
    }

    .card::before {
      background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
      );
      z-index: 3;
    }

    .card::after {
      background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y),
        hsla(0, 0%, 100%, 0.425),
        transparent 30%
      );
      z-index: 1;
    }

    .card > .card-content {
      background-color: var(--card-color);
      display: flex;

      inset: 1px;
      padding: 10px;
      position: absolute;
      z-index: 2;

      span {
        color: hsl(0, 0%, 60%);
        font-weight: 600;
        font-size: 1rem;
        margin: auto;
      }
    }
    .card > .active {
      background-color: hsla(283, 82%, 20%, 0.545);
    }
  }
  //*==========  Magic controller [END here]  ==========*//
}

//*==========  Main Container testing Page [END here]  ==========*//
