---

---

<div class="flex justify-between items-start">
  <p class="text-neutral-100">alexeg.github.io</p>
  <div class="flex justify-center gap-x-2">
    <button class="px-2 py-0.5 bg-neutral-300 rounded-sm text-xs font-medium"
      >Source Code</button
    >
    <button class="px-2 py-0.5 bg-neutral-300 rounded-sm text-xs font-medium"
      >Live Demo</button
    >
    <button class="px-2 py-0.5 bg-neutral-300 rounded-sm text-xs font-medium"
      >Project History</button
    >
  </div>
</div>
