---

---

<button class="group w-full h-12 grid place-content-center relative">
  <a href="/">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.6"
      stroke="#ffffff"
      class="w-7 h-7 opacity-40 group-hover:opacity-90"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
      ></path>
    </svg>
  </a>
  <span
    class="tooltiptext px-2 py-0.5 border border-[#30363d] bg-[#0d1117] text-sm text-white/75 rounded-[3.2px] top-1/2 -translate-y-1/2 left-[51px]"
    >Home</span
  >
</button>

<style>
  button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -4px;
    border-width: 4px;
    border-color: transparent #0d1117 transparent transparent;
  }
  button .tooltiptext::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-color: transparent #30363d transparent transparent;
  }
  button:hover .tooltiptext {
    visibility: visible;
  }
  button .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }
</style>
