---
import SettingsBtn from "./Settings.astro";
import Home from "./Home.astro";
import About from "./About.astro";
---

<nav
  class="fixed bg-[#0d1117] top-0 left-0 bottom-0 w-[47px] border-r border-[#30363d] flex flex-col"
>
  <Home />
  <About />

  <SettingsBtn />
</nav>
