---
import SettingsBtn from "./Settings.astro";
import Home from "./Home.astro";
import About from "./About.astro";
import Japanese from "./Japanese.astro";
import JavaScript from "./JavaScript.astro";
import Linux from "./Linux.astro";
import Dashbaord from "./Dashboard.astro";
// import NavbarBtn from "./NavbarBtn.astro";
// import navlayout from "../../data/navlayout.json";
// console.log(navlayout);

// import javascripIcon from "../../assets/icon/javascript.svg";

// import fs from "node:fs/promises";
// import path from "node:path";

// const iconBasePath = path.resolve("./src/assets/icon");
// const withIcons = await Promise.all(
//   navlayout.map(async (item) => {
//     const iconPath = path.join(iconBasePath, item.icon);
//     const iconContent = await fs.readFile(iconPath, "utf-8");

//     return { ...item, iconContent };
//   }),
// );

// console.log(withIcons);
---

<nav
  class="fixed bg-[#0d1117] top-0 left-0 bottom-0 w-[47px] border-r border-[#30363d] flex flex-col z-50"
>
  <Home />
  <Japanese />
  <JavaScript />
  <Linux />
  <Dashbaord />
  <!--   
  {
    withIcons.map((item) => (
      <NavbarBtn
        label={item.label}
        path={item.path}
        iconContent={item.iconContent}
      />
    ))
  } -->

  <div class="mt-auto">
    <About />
    <SettingsBtn />
  </div>
</nav>
