---
interface Props {
  tooltipText: string;
  likeTo: string;
}

const { tooltipText, likeTo } = Astro.props;
---

<a href={likeTo}>
  <button class="group w-full h-12 grid place-content-center relative">
    <slot />

    <span
      class="tooltiptext px-2 py-0.5 border border-[#30363d] bg-[#0d1117] text-sm text-white/75 rounded-[3.2px] top-1/2 -translate-y-1/2 left-[51px]"
      >{tooltipText}</span
    >
  </button>
</a>

<style>
  button .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -4px;
    border-width: 4px;
    border-color: transparent #0d1117 transparent transparent;
  }
  button .tooltiptext::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -6px;
    border-width: 6px;
    border-color: transparent #30363d transparent transparent;
  }
  button:hover .tooltiptext {
    visibility: visible;
  }
  button .tooltiptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
  }
</style>
