---
import DashboardCardTitle from "../DashboardCardTitle.astro";
import DashboardCard from "../DashboardCard.astro";
---

<DashboardCard
  col_from="col-start-1 lg:col-start-[12]"
  col_to="col-span-4 lg:col-end-[20]"
  row_from="row-start-[48] lg:row-start-[17]"
  row_to="row-span-3 lg:row-span-3"
>
  <DashboardCardTitle
    title="AniList"
    viewBox="0 0 24 24"
    profileLink="https://anilist.co/user/AlexEG"
  >
    <path
      d="M6.361 2.943 0 21.056h4.942l1.077-3.133H11.4l1.052 3.133H22.9c.71 0 1.1-.392 1.1-1.101V17.53c0-.71-.39-1.101-1.1-1.101h-6.483V4.045c0-.71-.392-1.102-1.101-1.102h-2.422c-.71 0-1.101.392-1.101 1.102v1.064l-.758-2.166zm2.324 5.948 1.688 5.018H7.144z"
    ></path>
  </DashboardCardTitle>

  <!-- Anime -->
  <div class="flex justify-evenly pt-1 lg:pt-2">
    <p class="text-center py-2 relative">
      <span class="text-neutral-200 font-semibold">112</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Total Anime</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-2">
      <span class="text-neutral-200 font-semibold">991</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Episodes Watched</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-2">
      <span class="text-neutral-200 font-semibold">64.0</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Mean Score</i
      >
    </p>
  </div>

  <!-- Manga -->
  <div class="flex justify-evenly pt-1 lg:pt-2">
    <p class="text-center py-2 relative">
      <span class="text-neutral-200 font-semibold">109</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Total Manga</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-2">
      <span class="text-neutral-200 font-semibold">4284</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Chapters Read</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-2">
      <span class="text-neutral-200 font-semibold">56.4</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Mean Score</i
      >
    </p>
  </div>
</DashboardCard>
