---
import DashboardCard from "../DashboardCard.astro";
import DuoLogo from "../../assets/icon/duolingo.ico";
import KeyValueRow from "../KeyValueRow.astro";
---

<DashboardCard
  col_from="col-start-3lg:col-start-8"
  col_to="col-span-2 lg:col-span-4"
  row_from="row-start-12 lg::row-start-1"
  row_to="row-span-4 lg:row-span-3"
>
  <div
    class="flex bg-neutral-700 rounded-2xl mt-1 mx-1 py-1 pl-2 gap-2 items-center text-neutral-300 text-sm relative"
  >
    <img class="grayscale w-4 h-4" src={DuoLogo} alt="" />
    <p>Duolingo</p>

    <a
      href="https://www.duolingo.com/profile/AlexEG_"
      target="_blank"
      class="absolute right-2"
      title="View Profile"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="rgb(212 212 212)"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="rgb(64 64 64)"
        class="w-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
        ></path>
      </svg>
    </a>
  </div>

  <KeyValueRow key="Name" value="AlexEG_" />
  <KeyValueRow key="Total XP" value="81,084" />
  <KeyValueRow key="Followers" value="109" />
  <KeyValueRow key="Current League" value="Pearl" />
  <!-- <KeyValueRow key="Member Since" value="June 2022" /> -->

  <i class="text-[11px] px-1 text-neutral-700 text-center block pt-1"
    >Member Since June 2022</i
  >
</DashboardCard>
