---
import DashboardCardTitle from "../DashboardCardTitle.astro";
import DashboardCard from "../DashboardCard.astro";
---

<DashboardCard
  col_from="col-start-1 lg:col-start-[12]"
  col_to="col-span-4 lg:col-end-[20]"
  row_from="row-start-[44] lg:row-start-[13]"
  row_to="row-span-5 lg:row-span-4"
>
  <DashboardCardTitle title="YouTube" viewBox="0 0 32 32">
    <path
      d="M12.932 20.459v-8.917l7.839 4.459zM30.368 8.735c-0.354-1.301-1.354-2.307-2.625-2.663l-0.027-0.006c-3.193-0.406-6.886-0.638-10.634-0.638-0.381 0-0.761 0.002-1.14 0.007l0.058-0.001c-0.322-0.004-0.701-0.007-1.082-0.007-3.748 0-7.443 0.232-11.070 0.681l0.434-0.044c-1.297 0.363-2.297 1.368-2.644 2.643l-0.006 0.026c-0.4 2.109-0.628 4.536-0.628 7.016 0 0.088 0 0.176 0.001 0.263l-0-0.014c-0 0.074-0.001 0.162-0.001 0.25 0 2.48 0.229 4.906 0.666 7.259l-0.038-0.244c0.354 1.301 1.354 2.307 2.625 2.663l0.027 0.006c3.193 0.406 6.886 0.638 10.634 0.638 0.38 0 0.76-0.002 1.14-0.007l-0.058 0.001c0.322 0.004 0.702 0.007 1.082 0.007 3.749 0 7.443-0.232 11.070-0.681l-0.434 0.044c1.298-0.362 2.298-1.368 2.646-2.643l0.006-0.026c0.399-2.109 0.627-4.536 0.627-7.015 0-0.088-0-0.176-0.001-0.263l0 0.013c0-0.074 0.001-0.162 0.001-0.25 0-2.48-0.229-4.906-0.666-7.259l0.038 0.244z"
    ></path>
  </DashboardCardTitle>

  <div class="flex justify-evenly pt-1 lg:pt-2">
    <p class="text-center py-1.5 relative">
      <span class="text-neutral-200 font-semibold">165</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Subscribers</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">56</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Videos</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">39,461</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >views</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">6.4K</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Watch time (hours)</i
      >
    </p>
  </div>

  <div class="flex justify-evenly pt-1 lg:pt-2">
    <p class="text-center py-1.5 relative">
      <span class="text-neutral-200 font-semibold">244.8K</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Impressions</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">6.6%</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >click-through rate</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">9:40</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Average view duration</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold">1.2%</span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1">
        Subscribed</i
      >
    </p>
  </div>

  <div class="flex justify-evenly pt-1 lg:pt-2">
    <p class="text-center py-1.5 relative">
      <span class="text-neutral-200 font-semibold"
        >United States <span
          class="block lg:inline border border-neutral-600 px-1.5 py-0.5 rounded-full text-xs cursor-default text-neutral-400"
          >47.7%</span
        >
      </span>
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Top geographies</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold"
        >Male <span
          class="block lg:inline border border-neutral-600 px-1.5 py-0.5 rounded-full text-xs cursor-default text-neutral-400"
          >77.9%</span
        ></span
      >
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Top Gender</i
      >
    </p>
    <span
      class="relative after:absolute after:top-2 after:bottom-2 after:right-0 after:w-0.5 after:bg-neutral-600"
    ></span>
    <p class="text-center py-1.5">
      <span class="text-neutral-200 font-semibold"
        >25–34 years <span
          class="block lg:inline border border-neutral-600 px-1.5 py-0.5 rounded-full text-xs cursor-default text-neutral-400"
          >40.8%</span
        ></span
      >
      <i class="text-[11px] px-1 text-neutral-600 text-center block pt-1"
        >Top Age</i
      >
    </p>
  </div>

  <i class="text-[11px] px-1 text-neutral-700 text-center block mt-4 lg:mt-0.5"
    >Member Since Nov 2021</i
  >
</DashboardCard>
