---
import Layout from "../../layouts/BlogPost.astro";
---

<Layout
  title="Settings"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  tags="Settings"
  heroImage="/blog-placeholder-about.jpg"
>
  <h1>Settings</h1>
</Layout>
