---
import { Button } from "@/components/ui/button"
import {
  Menubar,
  MenubarContent,
  MenubarItem,
  MenubarMenu,
  MenubarSeparator,
  MenubarShortcut,
  MenubarTrigger,
} from "@/components/ui/menubar"
---

<div class="bg-neutral-950 w-full min-h-screen">

  <Button variant="outline" size="lg" className="bg-purple-700 text-neutral-200">TEST</Button>


</div>

