---
import Layout from "../layouts/DashbaordLayout.astro";

// const title = "About";
// const description = "This is a simple page for more info about me.";

import pfp from "../assets/pfp.jpg";
import Image from "astro/components/Image.astro";

// languages & Framworks & others
import AstroIcon from "../assets/icon/astro.svg";
// import Bash from "../assets/icons/Bash-Dark.svg";
// import AWS from "../assets/icons/AWS-Dark.svg";
---

<Layout highlighted="about">
  <!-- --- --- Hero Section --- --- -->
  <section class="+bg-pink-500/25 w-full h-fit">
    <!-- PFP + Name  -->
    <div class="flex flex-col items-center gap-1">
      <Image src={pfp} alt="pfp" class="w-20 rounded-[5px]" />
      <p class="text-neutral-200 font-semibold font-mono">{"<AlexEG />"}</p>
    </div>

    <!-- Language + Tools  -->
    <div class="flex flex-wrap gap-2 max-w-lg mx-auto mt-4">
      <img src="/public/icons/astro.svg" class="w-10 runded-[5px]" />
      <img
        src="/public/icons/azure-dark.svg"
        class="w-10 runded-[5px] brightness-[0.25]"
      />
    </div>
  </section>
</Layout>
