---
import Layout from "../layouts/DashbaordLayout.astro";
import DashboardCard from "@/components/DashboardCard.astro";
import dashboardData from "../data/dashboard.json";
import WakatimeLilCard from "@/components/WakatimeLilCard.astro";
import DashboardCardTitle from "@/components/DashboardCardTitle.astro";
---

<Layout>
  <section
    class="grid grid-cols-[repeat(20,minmax(50px,1fr))] grid-rows-[repeat(20,minmax(50px,1fr))] gap-4 mx-auto min-h-screen max-w-7xl"
  >
    <!-- Grid items go here -->

    <!-- Row-1  -->
    <DashboardCard w="col-span-3" h="row-span-2">
      <DashboardCardTitle title="Wakatime">
        <g>
          <path
            d="M128,0 C57.308,0 0,57.308 0,128 C0,198.693 57.308,256 128,256 C198.693,256 256,198.693 256,128 C256,57.308 198.693,0 128,0 M128,33.805 C179.939,33.805 222.195,76.061 222.195,128 C222.195,179.94 179.939,222.195 128,222.195 C76.061,222.195 33.805,179.94 33.805,128 C33.805,76.061 76.061,33.805 128,33.805 M115.4993,155.6431 L115.3873,155.6431 C113.4353,155.6081 111.6083,154.6751 110.4343,153.1151 L81.5593,114.7321 C79.4553,111.9351 80.0173,107.9611 82.8143,105.8561 C85.6123,103.7511 89.5853,104.3131 91.6903,107.1111 L115.6833,139.0051 L122.5463,130.5271 C123.7493,129.0411 125.5603,128.1771 127.4723,128.1771 L127.4803,128.1771 C129.3973,128.1791 131.2093,129.0471 132.4103,130.5411 L139.0003,138.7281 L176.6923,90.1341 C178.8353,87.3681 182.8173,86.8651 185.5843,89.0111 C188.3493,91.1561 188.8533,95.1371 186.7073,97.9041 L144.1003,152.8371 C142.9143,154.3681 141.0883,155.2721 139.1503,155.2901 L139.0933,155.2901 C137.1743,155.2901 135.3583,154.4221 134.1553,152.9261 L127.4583,144.6071 L120.4253,153.2931 C119.2213,154.7811 117.4103,155.6431 115.4993,155.6431"
            fill="#000000"
          >
          </path>
        </g>
      </DashboardCardTitle>

      <p class="text-neutral-100 text-center text-lg py-3">1,219 hrs 23 mins</p>
      <i class="text-[10.5px] px-1 text-neutral-700 text-center block pt-1"
        >Total time coded since Dec 22, 2022</i
      >
    </DashboardCard>

    <DashboardCard w="col-span-3" h="row-span-3" />
    <DashboardCard w="col-span-12" h="row-span-3" />
    <!-- Wakatime Languges -->
    <DashboardCard w="col-span-3" h="row-span-6">
      <DashboardCardTitle title="Wakatime">
        <g>
          <path
            d="M128,0 C57.308,0 0,57.308 0,128 C0,198.693 57.308,256 128,256 C198.693,256 256,198.693 256,128 C256,57.308 198.693,0 128,0 M128,33.805 C179.939,33.805 222.195,76.061 222.195,128 C222.195,179.94 179.939,222.195 128,222.195 C76.061,222.195 33.805,179.94 33.805,128 C33.805,76.061 76.061,33.805 128,33.805 M115.4993,155.6431 L115.3873,155.6431 C113.4353,155.6081 111.6083,154.6751 110.4343,153.1151 L81.5593,114.7321 C79.4553,111.9351 80.0173,107.9611 82.8143,105.8561 C85.6123,103.7511 89.5853,104.3131 91.6903,107.1111 L115.6833,139.0051 L122.5463,130.5271 C123.7493,129.0411 125.5603,128.1771 127.4723,128.1771 L127.4803,128.1771 C129.3973,128.1791 131.2093,129.0471 132.4103,130.5411 L139.0003,138.7281 L176.6923,90.1341 C178.8353,87.3681 182.8173,86.8651 185.5843,89.0111 C188.3493,91.1561 188.8533,95.1371 186.7073,97.9041 L144.1003,152.8371 C142.9143,154.3681 141.0883,155.2721 139.1503,155.2901 L139.0933,155.2901 C137.1743,155.2901 135.3583,154.4221 134.1553,152.9261 L127.4583,144.6071 L120.4253,153.2931 C119.2213,154.7811 117.4103,155.6431 115.4993,155.6431"
            fill="#000000"
          >
          </path>
        </g>
      </DashboardCardTitle>
      <!-- TypeScript -->
      <WakatimeLilCard title="TypeScript" hrs="446" percentage="32.5">
        <rect width="256" height="256" fill="#007ACC" rx="60"></rect><path
          fill="#fff"
          d="M56.6112 128.849L56.5299 139.333H73.1902H89.8505L89.8505 186.673V234.012H101.635H113.419V186.673L113.419 139.333H130.079H146.739V129.052C146.739 123.363 146.618 118.609 146.455 118.487C146.333 118.325 126.056 118.243 101.472 118.284L56.7331 118.406L56.6112 128.849Z"
        ></path><path
          fill="#fff"
          d="M206.567 118.108C213.068 119.734 218.026 122.619 222.577 127.332C224.934 129.852 228.428 134.444 228.713 135.541C228.794 135.866 217.66 143.343 210.915 147.528C210.671 147.691 209.695 146.634 208.598 145.009C205.307 140.214 201.853 138.141 196.57 137.776C188.809 137.247 183.811 141.311 183.852 148.097C183.852 150.088 184.136 151.266 184.949 152.892C186.655 156.427 189.825 158.54 199.781 162.847C218.107 170.731 225.949 175.932 230.826 183.327C236.271 191.576 237.49 204.742 233.792 214.535C229.729 225.181 219.651 232.414 205.469 234.812C201.081 235.584 190.678 235.462 185.965 234.609C175.684 232.78 165.932 227.701 159.918 221.037C157.561 218.436 152.969 211.65 153.254 211.162C153.375 211 154.432 210.35 155.61 209.659C156.748 209.009 161.056 206.53 165.119 204.173L172.474 199.906L174.018 202.182C176.172 205.473 180.885 209.984 183.73 211.487C191.897 215.795 203.113 215.185 208.639 210.228C210.996 208.074 211.971 205.839 211.971 202.548C211.971 199.581 211.605 198.281 210.061 196.046C208.07 193.202 204.007 190.804 192.466 185.806C179.26 180.117 173.571 176.582 168.37 170.974C165.363 167.724 162.518 162.522 161.34 158.174C160.365 154.558 160.121 145.496 160.893 141.839C163.615 129.08 173.246 120.181 187.143 117.539C191.654 116.686 202.137 117.011 206.567 118.108Z"
        ></path>
      </WakatimeLilCard>
      <!-- JavaScript -->
      <WakatimeLilCard title="JavaScript" hrs="307" percentage="22.4">
        <rect width="256" height="256" rx="60" fill="#F0DB4F"></rect>
        <path
          d="M67.3117 213.932L86.9027 202.076C90.6821 208.777 94.1202 214.447 102.367 214.447C110.272 214.447 115.256 211.355 115.256 199.327V117.529H139.314V199.667C139.314 224.584 124.708 235.926 103.398 235.926C84.1533 235.926 72.9819 225.959 67.3113 213.93"
          fill="#323330"></path>
        <path
          d="M152.381 211.354L171.969 200.013C177.126 208.434 183.828 214.62 195.684 214.62C205.653 214.62 212.009 209.636 212.009 202.762C212.009 194.514 205.479 191.592 194.481 186.782L188.468 184.203C171.111 176.815 159.597 167.535 159.597 147.945C159.597 129.901 173.345 116.153 194.826 116.153C210.12 116.153 221.118 121.481 229.022 135.4L210.291 147.429C206.166 140.04 201.7 137.119 194.826 137.119C187.78 137.119 183.312 141.587 183.312 147.429C183.312 154.646 187.78 157.568 198.09 162.037L204.104 164.614C224.553 173.379 236.067 182.313 236.067 202.418C236.067 224.072 219.055 235.928 196.2 235.928C173.861 235.928 159.426 225.274 152.381 211.354"
          fill="#323330"></path>
      </WakatimeLilCard>
      <!-- Markdown -->
      <WakatimeLilCard title="Markdown" hrs="172" percentage="12.6">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="256"
          height="256"
          fill="none"
          viewBox="0 0 256 256"
          ><rect width="256" height="256" fill="#242938" rx="60"></rect><path
            stroke="#fff"
            stroke-width="10"
            d="M217 69H39C33.4772 69 29 73.4772 29 79V177C29 182.523 33.4772 187 39 187H217C222.523 187 227 182.523 227 177V79C227 73.4772 222.523 69 217 69Z"
          ></path><path
            fill="#fff"
            d="M54 162V94H74L94 119L114 94H134V162H114V123L94 148L74 123V162H54ZM179 162L149 129H169V94H189V129H209L179 162Z"
          ></path></svg
        >
      </WakatimeLilCard>
      <!-- HTML -->
      <WakatimeLilCard title="HTML" hrs="135" percentage="9.9">
        <rect width="256" height="256" fill="#E14E1D" rx="60"></rect><path
          fill="#fff"
          d="M48 38L56.6098 134.593H167.32L163.605 176.023L127.959 185.661L92.38 176.037L90.0012 149.435H57.9389L62.5236 200.716L127.951 218.888L193.461 200.716L202.244 102.655H85.8241L82.901 69.9448H205.041H205.139L208 38H48Z"
        ></path><path
          fill="#EBEBEB"
          d="M128 38H48L56.6098 134.593H128V102.655H85.8241L82.901 69.9448H128V38Z"
        ></path><path
          fill="#EBEBEB"
          d="M128 185.647L127.959 185.661L92.38 176.037L90.0012 149.435H57.9388L62.5236 200.716L127.951 218.888L128 218.874V185.647Z"
        ></path>
      </WakatimeLilCard>
      <!-- SCSS -->
      <WakatimeLilCard title="SCSS" hrs="112" percentage="8.2">
        <rect width="256" height="256" fill="#CD6799" rx="60"></rect><g
          clip-path="url(#clip0_137_201)"
          ><path
            fill="#fff"
            d="M200.107 139.163C193.133 139.199 187.073 140.879 181.998 143.361C180.136 139.674 178.274 136.388 177.945 133.978C177.58 131.167 177.142 129.451 177.58 126.092C178.018 122.733 179.99 117.951 179.953 117.586C179.917 117.22 179.515 115.505 175.499 115.468C171.483 115.432 168.015 116.235 167.613 117.294C167.211 118.352 166.445 120.762 165.934 123.245C165.24 126.896 157.901 139.93 153.703 146.757C152.352 144.092 151.184 141.755 150.928 139.893C150.563 137.082 150.125 135.366 150.563 132.007C151.001 128.648 152.973 123.865 152.936 123.5C152.9 123.135 152.498 121.419 148.482 121.383C144.466 121.346 140.997 122.149 140.596 123.208C140.194 124.267 139.756 126.75 138.916 129.159C138.077 131.569 128.329 153.329 125.773 158.951C124.459 161.835 123.327 164.135 122.524 165.705C122.524 165.705 122.487 165.815 122.378 165.997C121.684 167.348 121.282 168.078 121.282 168.078C121.282 168.078 121.282 168.078 121.282 168.115C120.735 169.101 120.15 170.013 119.858 170.013C119.639 170.013 119.238 167.385 119.931 163.807C121.392 156.249 124.86 144.493 124.824 144.092C124.824 143.873 125.481 141.828 122.56 140.769C119.712 139.71 118.69 141.463 118.434 141.463C118.179 141.463 117.996 142.084 117.996 142.084C117.996 142.084 121.173 128.867 111.936 128.867C106.167 128.867 98.2081 135.183 94.2651 140.879C91.7824 142.23 86.4885 145.114 80.8295 148.217C78.6755 149.422 76.4484 150.627 74.3673 151.759C74.2213 151.613 74.0753 151.43 73.9292 151.284C62.7573 139.345 42.0928 130.912 42.969 114.884C43.2976 109.042 45.3056 93.7083 82.655 75.0883C113.396 59.9368 137.858 64.1354 142.093 73.4454C148.153 86.7349 128.986 111.415 97.2224 114.993C85.1012 116.344 78.7485 111.671 77.1421 109.919C75.4626 108.093 75.2071 107.984 74.5864 108.349C73.5641 108.896 74.2213 110.539 74.5864 111.488C75.5356 113.971 79.4422 118.352 86.0504 120.506C91.892 122.405 106.094 123.464 123.29 116.819C142.531 109.371 157.573 88.6699 153.155 71.3278C148.738 53.7302 119.53 47.9251 91.892 57.7462C75.4626 63.5878 57.6459 72.7882 44.831 84.7634C29.6065 99.0022 27.1968 111.379 28.1826 116.563C31.724 134.964 57.0983 146.939 67.2479 155.811C66.7368 156.103 66.2622 156.359 65.8606 156.578C60.7857 159.097 41.4356 169.21 36.6163 179.908C31.1399 192.029 37.4926 200.718 41.6912 201.886C54.7251 205.501 68.1242 199.002 75.3166 188.268C82.509 177.534 81.6328 163.588 78.3104 157.199C78.2739 157.126 78.2374 157.053 78.1643 156.98C79.4787 156.213 80.8295 155.41 82.1439 154.643C84.7361 153.11 87.2917 151.686 89.4823 150.517C88.241 153.913 87.3283 157.965 86.8901 163.807C86.3425 170.671 89.1537 179.579 92.8412 183.084C94.4842 184.617 96.4192 184.654 97.6605 184.654C101.969 184.654 103.904 181.076 106.058 176.841C108.686 171.656 111.06 165.632 111.06 165.632C111.06 165.632 108.102 181.916 116.134 181.916C119.055 181.916 122.012 178.119 123.327 176.184C123.327 176.22 123.327 176.22 123.327 176.22C123.327 176.22 123.4 176.111 123.546 175.855C123.838 175.38 124.02 175.088 124.02 175.088C124.02 175.088 124.02 175.052 124.02 175.015C125.189 172.971 127.817 168.334 131.724 160.63C136.762 150.7 141.618 138.287 141.618 138.287C141.618 138.287 142.056 141.317 143.553 146.355C144.429 149.313 146.255 152.562 147.715 155.702C146.547 157.345 145.817 158.257 145.817 158.257C145.817 158.257 145.817 158.257 145.853 158.294C144.904 159.535 143.882 160.886 142.75 162.2C138.77 166.947 134.024 172.387 133.367 173.957C132.6 175.819 132.783 177.169 134.243 178.265C135.302 179.068 137.2 179.177 139.135 179.068C142.713 178.812 145.233 177.936 146.474 177.388C148.409 176.695 150.673 175.636 152.79 174.066C156.697 171.182 159.07 167.056 158.851 161.616C158.741 158.622 157.755 155.629 156.551 152.817C156.916 152.306 157.244 151.795 157.609 151.284C163.78 142.266 168.562 132.372 168.562 132.372C168.562 132.372 169 135.402 170.497 140.441C171.227 142.996 172.724 145.771 174.039 148.473C168.234 153.183 164.656 158.659 163.378 162.237C161.078 168.882 162.867 171.875 166.262 172.569C167.796 172.898 169.986 172.168 171.593 171.474C173.637 170.817 176.047 169.685 178.347 168.005C182.253 165.121 186.014 161.105 185.795 155.665C185.685 153.183 185.028 150.736 184.115 148.363C189.044 146.319 195.397 145.187 203.502 146.136C220.881 148.181 224.313 159.024 223.655 163.588C222.998 168.151 219.347 170.634 218.142 171.401C216.938 172.168 216.536 172.423 216.646 172.971C216.792 173.774 217.376 173.737 218.398 173.591C219.822 173.336 227.525 169.904 227.854 161.507C228.402 150.773 218.179 139.053 200.107 139.163ZM66.0431 184.362C60.2746 190.641 52.2425 193.015 48.7741 191.007C45.0501 188.852 46.5105 179.579 53.5933 172.934C57.9015 168.882 63.4509 165.121 67.1384 162.821C67.9781 162.31 69.2195 161.58 70.7164 160.667C70.9719 160.521 71.118 160.448 71.118 160.448C71.41 160.265 71.7021 160.083 71.9942 159.9C74.5864 169.393 72.1037 177.754 66.0431 184.362ZM108.029 155.811C106.021 160.704 101.823 173.226 99.2669 172.533C97.0763 171.948 95.7255 162.456 98.8288 153.073C100.399 148.363 103.721 142.741 105.656 140.55C108.796 137.045 112.264 135.877 113.104 137.301C114.163 139.163 109.271 152.744 108.029 155.811ZM142.677 172.387C141.837 172.825 141.034 173.117 140.669 172.898C140.413 172.752 141.034 172.168 141.034 172.168C141.034 172.168 145.379 167.494 147.095 165.377C148.08 164.135 149.249 162.675 150.49 161.032C150.49 161.178 150.49 161.361 150.49 161.507C150.49 167.093 145.087 170.853 142.677 172.387ZM169.402 166.289C168.781 165.851 168.891 164.391 170.972 159.827C171.775 158.038 173.674 155.045 176.923 152.16C177.288 153.329 177.544 154.46 177.507 155.519C177.471 162.566 172.432 165.194 169.402 166.289Z"
          ></path></g
        ><defs
          ><clipPath id="clip0_137_201"
            ><rect
              width="200"
              height="149.909"
              fill="#fff"
              transform="translate(28 53)"></rect></clipPath
          ></defs
        >
      </WakatimeLilCard>
      <!-- JSON -->
      <WakatimeLilCard title="JSON" hrs="59" percentage="4.4">
        <rect width="256" height="256" fill="#007ACC" rx="60"></rect><path
          fill="#fff"
          d="M56.6112 128.849L56.5299 139.333H73.1902H89.8505L89.8505 186.673V234.012H101.635H113.419V186.673L113.419 139.333H130.079H146.739V129.052C146.739 123.363 146.618 118.609 146.455 118.487C146.333 118.325 126.056 118.243 101.472 118.284L56.7331 118.406L56.6112 128.849Z"
        ></path><path
          fill="#fff"
          d="M206.567 118.108C213.068 119.734 218.026 122.619 222.577 127.332C224.934 129.852 228.428 134.444 228.713 135.541C228.794 135.866 217.66 143.343 210.915 147.528C210.671 147.691 209.695 146.634 208.598 145.009C205.307 140.214 201.853 138.141 196.57 137.776C188.809 137.247 183.811 141.311 183.852 148.097C183.852 150.088 184.136 151.266 184.949 152.892C186.655 156.427 189.825 158.54 199.781 162.847C218.107 170.731 225.949 175.932 230.826 183.327C236.271 191.576 237.49 204.742 233.792 214.535C229.729 225.181 219.651 232.414 205.469 234.812C201.081 235.584 190.678 235.462 185.965 234.609C175.684 232.78 165.932 227.701 159.918 221.037C157.561 218.436 152.969 211.65 153.254 211.162C153.375 211 154.432 210.35 155.61 209.659C156.748 209.009 161.056 206.53 165.119 204.173L172.474 199.906L174.018 202.182C176.172 205.473 180.885 209.984 183.73 211.487C191.897 215.795 203.113 215.185 208.639 210.228C210.996 208.074 211.971 205.839 211.971 202.548C211.971 199.581 211.605 198.281 210.061 196.046C208.07 193.202 204.007 190.804 192.466 185.806C179.26 180.117 173.571 176.582 168.37 170.974C165.363 167.724 162.518 162.522 161.34 158.174C160.365 154.558 160.121 145.496 160.893 141.839C163.615 129.08 173.246 120.181 187.143 117.539C191.654 116.686 202.137 117.011 206.567 118.108Z"
        ></path>
      </WakatimeLilCard>
      <!-- Go -->
      <WakatimeLilCard title="GoLang" hrs="34" percentage="2.6">
        <rect width="256" height="256" fill="#00B4E0" rx="60"></rect><path
          fill="#fff"
          d="M40.5 113.234C40.1 113.234 40 113.034 40.2 112.734L42.3 110.034C42.5 109.734 43 109.534 43.4 109.534H79.1C79.5 109.534 79.6 109.834 79.4 110.134L77.7 112.734C77.5 113.034 77 113.334 76.7 113.334L40.5 113.234Z"
        ></path><path
          fill="#fff"
          d="M25.4 122.434C25 122.434 24.9 122.234 25.1 121.934L27.2 119.234C27.4 118.934 27.9 118.734 28.3 118.734H73.9C74.3 118.734 74.5 119.034 74.4 119.334L73.6 121.734C73.5 122.134 73.1 122.334 72.7 122.334L25.4 122.434Z"
        ></path><path
          fill="#fff"
          d="M49.6 131.634C49.2 131.634 49.1 131.334 49.3 131.034L50.7 128.534C50.9 128.234 51.3 127.934 51.7 127.934H71.7C72.1 127.934 72.3 128.234 72.3 128.634L72.1 131.034C72.1 131.434 71.7 131.734 71.4 131.734L49.6 131.634Z"
        ></path><path
          fill="#fff"
          d="M153.4 111.434C147.1 113.034 142.8 114.234 136.6 115.834C135.1 116.234 135 116.334 133.7 114.834C132.2 113.134 131.1 112.034 129 111.034C122.7 107.934 116.6 108.834 110.9 112.534C104.1 116.934 100.6 123.434 100.7 131.534C100.8 139.534 106.3 146.134 114.2 147.234C121 148.134 126.7 145.734 131.2 140.634C132.1 139.534 132.9 138.334 133.9 136.934C130.3 136.934 125.8 136.934 114.6 136.934C112.5 136.934 112 135.634 112.7 133.934C114 130.834 116.4 125.634 117.8 123.034C118.1 122.434 118.8 121.434 120.3 121.434C125.4 121.434 144.2 121.434 156.7 121.434C156.5 124.134 156.5 126.834 156.1 129.534C155 136.734 152.3 143.334 147.9 149.134C140.7 158.634 131.3 164.534 119.4 166.134C109.6 167.434 100.5 165.534 92.5 159.534C85.1 153.934 80.9 146.534 79.8 137.334C78.5 126.434 81.7 116.634 88.3 108.034C95.4 98.7343 104.8 92.8343 116.3 90.7343C125.7 89.0343 134.7 90.1343 142.8 95.6343C148.1 99.1343 151.9 103.934 154.4 109.734C155 110.634 154.6 111.134 153.4 111.434Z"
        ></path><path
          fill="#fff"
          d="M186.5 166.734C177.4 166.534 169.1 163.934 162.1 157.934C156.2 152.834 152.5 146.334 151.3 138.634C149.5 127.334 152.6 117.334 159.4 108.434C166.7 98.8343 175.5 93.8343 187.4 91.7343C197.6 89.9343 207.2 90.9343 215.9 96.8343C223.8 102.234 228.7 109.534 230 119.134C231.7 132.634 227.8 143.634 218.5 153.034C211.9 159.734 203.8 163.934 194.5 165.834C191.8 166.334 189.1 166.434 186.5 166.734ZM210.3 126.334C210.2 125.034 210.2 124.034 210 123.034C208.2 113.134 199.1 107.534 189.6 109.734C180.3 111.834 174.3 117.734 172.1 127.134C170.3 134.934 174.1 142.834 181.3 146.034C186.8 148.434 192.3 148.134 197.6 145.434C205.5 141.334 209.8 134.934 210.3 126.334Z"
        ></path>
      </WakatimeLilCard>
      <!-- ASTRO -->
      <WakatimeLilCard title="Astro" hrs="27" percentage="2">
        <rect
          width="256"
          height="256"
          rx="60"
          fill="url(#paint0_linear_206_664)"></rect>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M157.719 33.0112C159.353 35.039 160.185 37.7762 161.851 43.2479L198.247 162.809C184.576 155.715 169.903 150.747 154.734 148.077L131.037 67.9971C130.848 67.3583 130.457 66.7977 129.923 66.3993C129.389 66.0009 128.741 65.7861 128.075 65.787C127.408 65.788 126.76 66.0046 126.228 66.4045C125.695 66.8044 125.306 67.3661 125.119 68.0055L101.708 148.037C86.4709 150.694 71.7306 155.67 58 162.791L94.5734 43.221C96.2458 37.7568 97.0803 35.0256 98.714 33.002C100.156 31.2146 102.032 29.8264 104.163 28.9698C106.577 28 109.433 28 115.147 28H141.27C146.991 28 149.851 28 152.267 28.9723C154.4 29.8306 156.277 31.2212 157.719 33.0112Z"
          fill="#31274A"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M162.074 168.499C156.074 173.63 144.098 177.128 130.304 177.128C113.373 177.128 99.1821 171.857 95.4172 164.769C94.0709 168.832 93.7692 173.481 93.7692 176.452C93.7692 176.452 92.8817 191.037 103.026 201.181C103.026 195.913 107.296 191.643 112.564 191.643C121.592 191.643 121.582 199.52 121.573 205.911V206.481C121.573 216.181 127.501 224.496 135.932 228C134.634 225.329 133.962 222.398 133.966 219.428C133.966 210.177 139.398 206.732 145.71 202.73C150.732 199.545 156.312 196.006 160.158 188.906C162.229 185.082 163.31 180.801 163.303 176.452C163.303 173.679 162.872 171.007 162.074 168.499Z"
          fill="#FF5D01"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M162.074 168.499C156.074 173.63 144.098 177.128 130.304 177.128C113.373 177.128 99.1821 171.857 95.4172 164.769C94.0709 168.832 93.7692 173.481 93.7692 176.452C93.7692 176.452 92.8817 191.037 103.026 201.181C103.026 195.913 107.296 191.643 112.564 191.643C121.592 191.643 121.582 199.52 121.573 205.911V206.481C121.573 216.181 127.501 224.496 135.932 228C134.634 225.329 133.962 222.398 133.966 219.428C133.966 210.177 139.398 206.732 145.71 202.73C150.732 199.545 156.312 196.006 160.158 188.906C162.229 185.082 163.31 180.801 163.303 176.452C163.303 173.679 162.872 171.007 162.074 168.499Z"
          fill="url(#paint1_linear_206_664)"></path>
        <defs>
          <linearGradient
            id="paint0_linear_206_664"
            x1="128"
            y1="0"
            x2="128"
            y2="256"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0.192708" stop-color="#FCB3B2"></stop>
            <stop offset="1" stop-color="#C587EE"></stop>
          </linearGradient>
          <linearGradient
            id="paint1_linear_206_664"
            x1="189.089"
            y1="126.765"
            x2="153.565"
            y2="201.132"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#FF1639"></stop>
            <stop offset="1" stop-color="#FF1639" stop-opacity="0"></stop>
          </linearGradient>
        </defs>
      </WakatimeLilCard>
      <i class="text-[11px] px-1 text-neutral-700 text-center block pt-1"
        >Coding Time Summary (All)</i
      >
      <!-- Python -->
      <!-- <WakatimeLilCard hrs="16" percentage="1.2">
        <rect width="256" height="256" fill="#007ACC" rx="60"></rect><path
          fill="#fff"
          d="M56.6112 128.849L56.5299 139.333H73.1902H89.8505L89.8505 186.673V234.012H101.635H113.419V186.673L113.419 139.333H130.079H146.739V129.052C146.739 123.363 146.618 118.609 146.455 118.487C146.333 118.325 126.056 118.243 101.472 118.284L56.7331 118.406L56.6112 128.849Z"
        ></path><path
          fill="#fff"
          d="M206.567 118.108C213.068 119.734 218.026 122.619 222.577 127.332C224.934 129.852 228.428 134.444 228.713 135.541C228.794 135.866 217.66 143.343 210.915 147.528C210.671 147.691 209.695 146.634 208.598 145.009C205.307 140.214 201.853 138.141 196.57 137.776C188.809 137.247 183.811 141.311 183.852 148.097C183.852 150.088 184.136 151.266 184.949 152.892C186.655 156.427 189.825 158.54 199.781 162.847C218.107 170.731 225.949 175.932 230.826 183.327C236.271 191.576 237.49 204.742 233.792 214.535C229.729 225.181 219.651 232.414 205.469 234.812C201.081 235.584 190.678 235.462 185.965 234.609C175.684 232.78 165.932 227.701 159.918 221.037C157.561 218.436 152.969 211.65 153.254 211.162C153.375 211 154.432 210.35 155.61 209.659C156.748 209.009 161.056 206.53 165.119 204.173L172.474 199.906L174.018 202.182C176.172 205.473 180.885 209.984 183.73 211.487C191.897 215.795 203.113 215.185 208.639 210.228C210.996 208.074 211.971 205.839 211.971 202.548C211.971 199.581 211.605 198.281 210.061 196.046C208.07 193.202 204.007 190.804 192.466 185.806C179.26 180.117 173.571 176.582 168.37 170.974C165.363 167.724 162.518 162.522 161.34 158.174C160.365 154.558 160.121 145.496 160.893 141.839C163.615 129.08 173.246 120.181 187.143 117.539C191.654 116.686 202.137 117.011 206.567 118.108Z"
        ></path>
      </WakatimeLilCard> -->
    </DashboardCard>
    <DashboardCard w="col-span-12" h="row-span-3" />

    <!-- Row-2  -->
    <!-- <DashboardCard w="col-span-full" h="row-span-5" /> -->

    <!-- Row-3  -->
    <!-- {
      dashboardData.map((item) => (
        <DashboardCard w="col-span-6" h="row-span-3">
          <p class="text-neutral-50 text-center">{item.test1}</p>

          {item.test2}
          {item.test3}
        </DashboardCard>
      ))
    } -->

    <!-- <DashboardCard w="col-span-8" h="row-span-3" />
    <DashboardCard w="col-span-6" h="row-span-3" /> -->
  </section>
</Layout>
