---
import Layout from "../layouts/DashbaordLayout.astro";
import DashboardCard from "@/components/DashboardCard.astro";
// import dashboardData from "../data/dashboard.json";

import Wakatime1 from "../components/DashboardCards/Wakatime1.astro";
import Wakatime2 from "@/components/DashboardCards/Wakatime2.astro";
import DashboardCardTitle from "@/components/DashboardCardTitle.astro";
import CodeWars from "@/components/DashboardCards/CodeWars.astro";
import AniList from "@/components/DashboardCards/AniList.astro";
import YouTube from "@/components/DashboardCards/YouTube.astro";
import TryHackMe from "@/components/DashboardCards/TryHackMe.astro";
import Spotify from "@/components/DashboardCards/Spotify.astro";
import MonkeyType from "@/components/DashboardCards/MonkeyType.astro";
import GitHub from "@/components/DashboardCards/GitHub.astro";
import FreeCodeCamp from "@/components/DashboardCards/FreeCodeCamp.astro";
---

<Layout highlighted="dashboard">
  <section
    class="grid lg:grid-cols-[repeat(20,50px)] lg:grid-rows-[repeat(20,50px)] gap-4 mx-auto min-h-screen max-w-7xl"
  >
    <Wakatime1 />
    <Wakatime2 />
    <CodeWars />
    <!-- <AniList /> -->
    <!-- <YouTube /> -->
    <TryHackMe />
    <!-- <Spotify /> -->
    <!-- <MonkeyType /> -->
    <!-- <GitHub /> -->
    <!-- <FreeCodeCamp /> -->
  </section>
</Layout>
