---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import NavigationSidebar from "../components/NavigationSidebar/index.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      .main-window {
        background-color: var(--main-dark);
        min-height: 100vh;
        width: 100%;
      }
      h2 {
        color: hsla(0, 0%, 100%, 0.5);
        font-size: larger;
      }
    </style>
  </head>
  <body class="pl-[47px]">
    <NavigationSidebar />
    <div class="main-window">
      <main>
        <blockquote>
          <p>
            “Tell me and I forget. Teach me and I remember. Involve me and I
            learn.”
          </p>
          <cite>— Benjamin Franklin</cite>
        </blockquote>
      </main>
    </div>
  </body>
</html>
