---
import BaseHead from "../components/BaseHead.astro";
// import Header from "../components/Header.astro";
// import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import NavigationSidebar from "../components/NavigationSidebar/index.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <NavigationSidebar />
    <main class="w-full h-screen bg-[#010409] grid place-content-center">
      <h1 class="text-white">HOME</h1>
    </main>
  </body>
</html>
