.main__contant__container__markdown {
  max-width: 855px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;

  section {
    margin-bottom: 200px;

    ul,
    ol {
      margin-left: 50px;
    }
  }

  picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    img {
      margin-inline: auto;
      width: 650px;

      box-shadow: 0 0 10px 0 hsla(290, 100%, 50%, 0.808);
    }
  }


}