//*==========  Banner Container markdown Page [START here]  ==========*//
.banner__container__markdown {
  background-color: #00a2e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -45px -200px 100px 0;
  overflow: hidden;
  // outline: solid 1px red; //////
  z-index: 6;

  img {
    height: 100%;
    z-index: 6;
  }
}
//*==========  Banner Container markdown Page [END here]  ==========*//
