//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[17]   //  Main container              //  2022-12-14
[29]   //  ----                        //  2022-12-14
[85]   //  ----                        //  2022-12-14
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
____________________________________________________
[134]  header => _navigation.scss
[118]  sidebar => _navigation.scss
*/
//==================================================
//==================================================

//*==========  main Container markdown Page [START here]  ==========*//
.main__container__html__page {
  background-color: hsl(0, 0%, 3%);
  width: calc(100% - 250px);
  min-height: 100vh;
  padding: 85px 200px 0px 250px;
  margin-left: 250px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  position: relative;
}

//*==========  Main Container markdown Page [END here]  ==========*//
