* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.main__container__html__page {
  background-color: #3f3f3f;
  height: 100vh;
}



////.container end








//*==========  Main Header  [START here]  ==========*//
header {
  padding-inline: 20px;
  background-color: rgba(255, 0, 0, 0.281);
  height: 50px;

  @media (max-width: 768px) {
    padding-inline: 10px;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-inline: auto;

    /* Small */
    @media (min-width: 768px) {
      .container {
        width: 750px;
      }
    }

    /* Medium */
    @media (min-width: 992px) {
      .container {
        width: 970px;
      }
    }

    /* Large */
    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }

    @media (min-width: 1200px) {
      .container {
        width: 1170px;
      }
    }


    .logo {
      width: 45px;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      flex-wrap: nowrap;
      flex: 1;

      // outline: 1px solid rgb(0, 255, 149); ////

      li {
        list-style: none;
        margin-inline: 5px;
        padding: 5px;
        // outline: 1px solid rgb(0, 255, 149); /////

        a {
          color: rgb(0, 0, 0);
          text-decoration: none;
          font-size: 1.4rem;
          text-transform: uppercase;
        }

      }
    }

  }

}

//*==========  Main Header  [END here]  ==========*//

aside {
  width: 200px;
  height: calc(100% - 50px);
  background-color: rgb(45, 0, 56);



  .sidebar__contanier {
    background-color: rgb(248, 0, 124);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 50px;
    row-gap: 5px;

    .link {
      width: 50px;
      height: 50px;
      background-color: rgb(0, 0, 0);
      margin: 5px;

    }

  }
}