//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[17]   //  Main container              //  2022-12-14
[29]   //  ----                        //  2022-12-14
[85]   //   ---                        //  2022-12-14
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
*/
//==================================================
//==================================================


//*==========  main Container markdown Page [START here]  ==========*//
.main__container__markdown__page {
  background-color: hsl(0, 0%, 2%);
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 500px;
}

//*==========  Main Container markdown Page [END here]  ==========*//



//*==========  main Container markdown Page [START here]  ==========*//
.contant__container {

  .subject__title {
color: white;
text-align: center;

  }
}
//*==========  Main Container markdown Page [END here]  ==========*//
