//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[17]   //  Main container              //  2022-12-14
[29]   //  ----                        //  2022-12-14
[85]   //  ----                        //  2022-12-14
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
*/
//==================================================
//==================================================
html {
  scroll-behavior: smooth;
}

//*==========  main Container markdown Page [START here]  ==========*//

.main__container__markdown__page {
  background-color: hsl(0, 0%, 3%);
  width: 100%;
  min-height: 100vh;
  padding: 85px 200px 0px 250px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;

  position: relative;
  footer {
    width: calc(100% - 250px);
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 250px;
    color: #fff;

    .line {
      position: relative;
      width: 100%;
      height: 100px;
      overflow: hidden;
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 50px 5px hsl(218, 100%, 59%);
      }
    }

    .footer__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      height: 50%;

      .alexeg {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        img {
          width: 25px;
          margin-top: 3px;
          margin-inline: 3px;
        }
      }
      .accounts {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        a {
          color: #fff;
        }
        i {
          transition: color 400ms;
          cursor: pointer;
          font-size: 2.5rem;
          margin-inline: 3px;
        }
        i:hover {
          color: #00a2e3;
        }
      }
    }
  }
}

//*==========  Main Container markdown Page [END here]  ==========*//

//*==========  Banner Container markdown Page [START here]  ==========*//
.banner__container__markdown {
  background-color: #00a2e3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -45px -200px 100px 0px;
  overflow: hidden;
  // outline: solid 1px red; //////

  img {
    height: 100%;
  }
}
//*==========  Banner Container markdown Page [END here]  ==========*//

//*==========  Main Content Container markdown [START here]  ==========*//
.main__contant__container__markdown {
  max-width: 855px;
  margin-inline: auto;
  color: #fff;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  section {
    margin-bottom: 200px;

    ul,
    ol {
      margin-left: 50px;
    }
  }

  picture {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    img {
      margin-inline: auto;
      width: 650px;

      box-shadow: 0 0 10px 0 hsla(290, 100%, 50%, 0.808);
      -webkit-box-shadow: 0 0 10px 0 hsla(290, 100%, 50%, 0.808);
      -moz-box-shadow: 0 0 10px 0 hsla(290, 100%, 50%, 0.808);
    }
  }

  p {
    font-size: 1.1rem;
    letter-spacing: 1.05px;
    word-spacing: 1.5px;
    font-weight: 400;
    margin-bottom: 45px;

    a {
      text-decoration: none;
      font-weight: 500;
      color: #00a2e3;
    }

    &.notes {
      background-color: hsl(269, 50%, 10%);
      position: relative;
      padding-left: 15px;
      padding-block: 5px;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background-color: hsl(269, 100%, 50%);
      }
    }
  }
}

//*==========  Main Content Container markdown [END here]  ==========*//
