//==================================================
//==================================================
//-----  Line | Section Name | Last Update  ------
/*
[17]   //  Main container              //  2022-12-14
[29]   //  Icons Container             //  2022-12-14
[85]   //  Channels Icons              //  2022-12-14
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
*/
//==================================================
//==================================================


//*==========  main Container YouTube Page [START here]  ==========*//

.main__container__youtube__page {
  background-color: #060606;
  width: 100%;
  min-height: 100vh;
  padding-top: 40px;
}

//*==========  Main Container YouTube Page [END here]  ==========*//


//*==========  Icons Container [START here]  ==========*//
.icons__container {
  position: relative;
  height: 400px;
  user-select: none;
  max-width: 1023px;
  margin-block: 0;
  margin-inline: auto;
  background-color: 060606;
  overflow: hidden;
}

.icons__container::before {
  content: "";
  width: 0px;
  height: 100%;
  position: absolute;
  left: 0;
  box-shadow: 0 0 50px 75px #060606, 0 0 100px 150px #060606, 0 0 200px 200px #060606;
  z-index: 50;
}

.icons__container::after {
  content: "";
  width: 0px;
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: 0 0 50px 75px #060606, 0 0 100px 150px #060606, 0 0 200px 200px #060606;
  z-index: 50;

}

.icons__container .top__shadow {
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  box-shadow: 0 0 10px 5px #060606, 0 0 20px 5px #060606;
  z-index: 50;
}

.icons__container .bottom__shadow {
  width: 100%;
  height: 0px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px 5px #060606, 0 0 20px 5px #060606;
  z-index: 50;
}

//*==========  Icons Container [END here]  ==========*//




//*==========  Channels Icons  [START here]  ==========*//
.icons {
  width: 80px;
  height: 80px;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: running;
  animation-name: icons;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 0px #060606;
}

@keyframes icons {
  from {
    right: 0%;
  }

  to {
    right: 100%;
  }
}
// 400px 70px 24px
//Line 1 = top:24px     speed:13.5
//Line 2 = top:118px    speed:15
//Line 3 = bottom:118px speed:13.5
//Line 4 = bottom:24px  speed:15

//**Line 1**//
.icon1 {
  animation-duration: 15s;
  background-image: url(../../assets/images/youtube_channels/Beyond\ Fireship.jpg);
  top: 24px;
  animation-delay: 0s;

}


//**Line 2**//
.icon2 {
  animation-duration: 13s;
  animation-delay: 0s;
  background-color: rgb(179, 0, 179);
  top: 118px;
}


//**Line 3**//
.icon3 {
  animation-duration: 14s;
  background-color: rgb(0, 140, 255);
  bottom: 118px;
  animation-delay: 0s;

}


//**Line 4**//
.icon4 {
  animation-duration: 13s;
  background-color: rgb(76, 0, 255);
  bottom: 24px;
  animation-delay: 0s;

}


  //*==========  Channels Icons  [END here]  ==========*//