---
const { title } = Astro.props;
---

<div
  class="flex bg-neutral-700 rounded-2xl mt-1 mx-1 py-1 pl-2 gap-2 items-center text-neutral-300 text-sm"
>
  <svg
    class="w-4 h-4 invert"
    viewBox="0 0 256 256"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    preserveAspectRatio="xMidYMid"
  >
    <slot />
  </svg>
  <p>{title}</p>
</div>
