---
const { col_from, col_to, row_from, row_to } = Astro.props;
---

<div
  class=`${col_from} ${col_to} ${row_from} ${row_to} bg-neutral-900 rounded-2xl border border-neutral-700/75 h-full overflow-hidden`
>
  <slot />
</div>
