---
const { title, viewBox, profileLink } = Astro.props;
---

<div
  class="flex bg-neutral-700 rounded-2xl mt-1 mx-1 py-1 pl-2 gap-2 items-center text-neutral-300 text-sm relative"
>
  <svg
    class="w-4 h-4 invert"
    viewBox=`${viewBox}`
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <slot />
  </svg>
  <p>{title}</p>

  <a
    href=`${profileLink}`
    target="_blank"
    class="absolute right-2"
    title="View Profile"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="rgb(212 212 212)"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="rgb(64 64 64)"
      class="w-5"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9 12.75 11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 0 1-1.043 3.296 3.745 3.745 0 0 1-3.296 1.043A3.745 3.745 0 0 1 12 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 0 1-3.296-1.043 3.745 3.745 0 0 1-1.043-3.296A3.745 3.745 0 0 1 3 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 0 1 1.043-3.296 3.746 3.746 0 0 1 3.296-1.043A3.746 3.746 0 0 1 12 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 0 1 3.296 1.043 3.746 3.746 0 0 1 1.043 3.296A3.745 3.745 0 0 1 21 12Z"
      ></path>
    </svg>
  </a>
</div>
