@tailwind base;
@tailwind components;
@tailwind utilities;





/* project-photo-gallery-bar */
.project-photo-gallery-bar::-webkit-scrollbar {
  width: 0px;
  height: 10px;
}

.project-photo-gallery-bar::-webkit-scrollbar-track {
  background: linear-gradient(0deg, hsla(261, 100%, 20%, 0.69), transparent);
  border-radius: 100vw;
  margin-inline: 3rem;
}

.project-photo-gallery-bar::-webkit-scrollbar-thumb {
  background: hsla(261, 100%, 20%, 0.384);
  border: 0.05em solid hsla(261, 100%, 50%, 0.479);
  border-radius: 100vw;
}

.project-photo-gallery-bar::-webkit-scrollbar-thumb:hover {
  background: hsla(261, 100%, 50%, 0.69);
}


/* Body */
body::-webkit-scrollbar {
  width: 5px;
}



body::-webkit-scrollbar-track {
  background: #0a0a0a;
}

body::-webkit-scrollbar-thumb {
  background: hsla(261, 100%, 20%, 0.384);
  border: 0.05em solid hsla(261, 100%, 50%, 0.479);

}

body::-webkit-scrollbar-thumb:hover {
  background: hsla(261, 100%, 50%, 0.69);
}


.magic-text {
  --purple: rgb(123, 31, 162);
  --violet: rgb(103, 58, 183);
  --pink: rgb(244, 143, 177);
  background: linear-gradient(to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple));
  animation: background-pan 3s linear infinite;
  background-size: 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}