.main-container-css-battle{
background-color: hsl(0, 0%, 6%);
  width: calc(100% - 300px) ;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  padding: 100px 150px;
}
body{
  margin: 0;
}

a{
  color: white;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    top:0;
}
img{
  width: 20em;
  margin: 1px;
}

.cards{
  width: 260px;
  height: 350px;
  border-radius: 10px;

  position: relative;
  overflow: hidden;
  margin:0 5px 20px 5px;
}
.top-sec{
  display: flex;
  justify-content: center;
  
  border: none;
}
.bottom-sec{
  position: absolute;
  bottom: -30px;
  left: -25px;
  width: 290px;
  height: 150px;
  background-color:hsl(0, 0%, 100%);
  transform: rotate(13deg);
  display: flex;
  justify-content:flex-start ;
  align-items: flex-end;
}
.card-1 img{
  position: absolute;
  top: -1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.details{
  
  transform: rotate(-13deg);
  background-color:hsl(0, 0%, 100%);
  width: 60%;
  margin-left: 24px;
  margin-bottom: 15px;
  border-radius: 0 30px 0 0;
  height: 100px;
  padding: 10px;
}

/* ======= Cards Color [strat here] ==========  */
:root{

  --color1:#6592cf;
}




/* ======= Cards Color [end here] ==========  */


/* *****color1***** */
.card-3,.card-8,.card-26,.card-37,.card-40,.card-43,.card-49,.card-52,.card-59
{
  background-color: var(--color1);
}
/* *****color2***** */






.card-1{
  background-color: #5d3a3a;
}
.card-2 {
  background-color: #62374e;
}

.card-4 {
  background-color: #62306d;
}
.card-5{
  background-color: #0b2429;
}
.card-6 {
  background-color: #e3516e;
}
.card-7{
  background-color: #0b2429;
}

.card-9{
  background-color: #222730;
}
.card-10 {
  background-color: #62306d;
}
.card-11{
  background-color: #191210;
}
.card-12 {
  background-color: #f5d6b4;
}
.card-13{
  background-color: #0b2429;
}
.card-14 {
  background-color: #f2f2b6;
}
.card-15{
  background-color: #09042a;
}
.card-16 {
  background-color: #0b2429;
}
.card-17{
  background-color: #09042a;
}
.card-18 {
  background-color: #5c434c;
}
.card-19{
  background-color: #0b2429;
}
.card-20 {
  background-color: #62306d;
}

.card-21{
  background-color: #222222;
}
.card-22 {
  background-color: #f5d6b4;
}
.card-23{
  background-color: #f3ac3c;
}
.card-24 {
  background-color: #62306c;
}
.card-25{
  background-color: #998235;
}

.card-27{
  background-color: #e28d65;
}
.card-28 {
  background-color: #1a4341;
}
.card-29{
  background-color: #f3ac3c;
}
.card-30 {
  background-color: #62306d;
}

.card-31{
  background-color: #aa445f;
}
.card-32 {
  background-color: #ffffff;
}
.card-33{
  background-color: #1a4341;
}
.card-34 {
  background-color: #007065;
}
.card-35{
  background-color: #293462;
}
.card-36 {
  background-color: #1a4341;
}

.card-38 {
  background-color: #293462;
}
.card-39{
  background-color: #1a4341;
}

.card-41{
  background-color: #293462;
}
.card-42 {
  background-color: #293462;
}

.card-44 {
  background-color: #1a4341;
}
.card-45{
  background-color: #194240;
}
.card-46 {
  background-color: #293462;
}
.card-47{
  background-color: #1a4341;
}
.card-48 {
  background-color: #293462;
}

.card-50 {
  background-color: #1a4341;
}

.card-51{
  background-color: #293462;
}

.card-53{
  background-color: #19191a;
}
.card-54 {
  background-color: #f9e492;
}
.card-55{
  background-color: #194240;
}
.card-56 {
  background-color: #293462;
}
.card-57{
  background-color: #1a4341;
}
.card-58 {
  background-color: #293462;
}

.card-60 {
  background-color: #1a4341;
}