/*==================================================
====================================================*/
/*
------  Line | Section's name | Last Update  -------

[25]   //  The main global variables   //  2022-12-7
[36]   //  BODY & UNIVERSAL SELECTORS  //  2022-12-7
[68]   //  Navigation Bar              //  2022-12-7
[115]  //  Home Page                   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0
[00]   //  -------------------------   //  2022-12-0

*/
/*==================================================
======================================================*/



/* ==========  The main global variables  [start here]  ========== */

:root {
    --bg-color: hsl(0, 0%, 2%);
    --card-color: hsl(0, 0%, 9%);
    --navbar-color: hsla(0, 100%, 19%, 0.123);
    --font-Oleo: 'Oleo Script Swash Caps', cursive;
}

/* ==========  The main global variables  [end here]  ========== */



/* ==========  BODY & UNIVERSAL SELECTORS  [start here]  ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-bottom: 10px;
}
/* ========== BODY & UNIVERSAL SELECTORS  [end here]  ========== */



/* ==========  Navigation Bar   [strat here]  ========== */
.aa {
    position: fixed;
    background-color: var(--navbar-color);
    backdrop-filter: blur(1rem);
    border: solid 1px transparent;
    border-bottom-color: rgba(255, 255, 255, 0.116);
    z-index: 999;
    height: 2em;
    width: 100%;
}

.primary-navigation {
    display: flex;
    justify-content: center;

    position: relative;

}

.primary-navigation li {

    list-style: none;
    background-color: rgb(100, 0, 0);
    width: 5em;
    height: 2em;
    padding: 0;
    border: solid 1px green;
    text-align: center;
    display: block;
}


.primary-navigation span {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: block;
    width: 100%;
    height: 100%;
}


.primary-navigation a {
    text-decoration: none;
}

.logo span {
    color: red;
    border: solid 0.5px red;
    width: 3em;

}

.primary-navigation .logo {
    width: 3em;
    position: absolute;
    left: 0;
}
/* ==========  Navigation Bar   [end here]  ========== */



/* *******************  HOME Page [start here]  ******************* */
.main-container-home-page{
    background-color: #050505;
    width: 100%;
    min-height: 100vh;

}
/* *******************  HOME Page [end here]  ******************* */



/* *******************  ABOUT Page [start here]  ******************* */
.main-container-about {
    background-image: linear-gradient(to top right, hsl(340, 100%, 50%), hsl(278, 100%, 50%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-about a {
    color: white;
    font-size: 30px;
    font-family: var(--font-Oleo);
}

/* *******************  ABOUT Page [end here]  ******************* */

/* *******************  Page1 [start here]  ******************* */
.main-container-page1 {
    background-image: linear-gradient(to top right, hsl(106, 94%, 42%), hsl(0, 0%, 0%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-page1 a {
    color: white;
    font-size: 30px;
    font-family: var(--font-Oleo);
}

/* *******************  Page1 [end here]  ******************* */

/* *******************  Page2 [start here]  ******************* */
.main-container-page2 {
    background-image: linear-gradient(to top right, hsl(355, 100%, 35%), rgb(0, 0, 0));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-page2 a {
    color: white;
    font-size: 30px;
    font-family: var(--font-Oleo);
}

/* *******************  Page2 [end here]  ******************* */

/* *******************  Page3 [start here]  ******************* */
.main-container-page3 {
    background-image: linear-gradient(to top right, hsl(241, 100%, 29%), hsl(0, 0%, 0%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-page3 a {
    color: white;
    font-size: 30px;
    font-family: var(--font-Oleo);
}

/* *******************  Page3 [end here]  ******************* */

/* *******************  Page4 [start here]  ******************* */
.main-container-page4 {
    background-image: linear-gradient(to top right, hsl(175, 100%, 34%), hsl(0, 0%, 0%));
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container-page4 a {
    color: white;
    font-size: 30px;
    font-family: var(--font-Oleo);
}

/* *******************  Page4 [end here]  ******************* */