/* ==========GLOBAL VARIABLES [start here]========== */
:root {
    --bg-color: rgb(5, 5, 5);
    --card-color: rgb(23, 23, 23);
}

/* ==========GLOBAL VARIABLES [end here]========== */

/* ==========TYPE & UNIVERSAL SELECTORS [start here]========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(6, 6, 6);
}

/* ==========TYPE & UNIVERSAL SELECTORS [end here]========== */


/* ========== Grouping SELECTORS [start here]========== */


/* ========== Grouping SELECTORS [end here]========== */


/*===============
Navigation Bar [strat here]
===============*/



/*===============
Navigation Bar [end here]
===============*/


