/* ==========GLOBAL VARIABLES [start here]========== */
:root {
    --bg-color: rgb(5, 5, 5);
    --card-color: rgb(23, 23, 23);
    --navbar-color:hsl(0 0% 100% / 0);
}

/* ==========GLOBAL VARIABLES [end here]========== */

/* ==========BODY & UNIVERSAL SELECTORS [start here]========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    background-image: url(/pawel-czerwinski-z7prq6BtPE4-unsplash.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    padding-bottom: 2000px;
}

/* ==========BODY & UNIVERSAL SELECTORS [end here]========== */


/* ========== Grouping SELECTORS [start here]========== */


/* ========== Grouping SELECTORS [end here]========== */


/*===============
Navigation Bar [strat here]
===============*/
.primary-navigation{
    display: flex;
    background-color: var(--navbar-color);
    justify-content: center;
    height: 2.7rem;
    position: fixed;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    backdrop-filter: blur(1rem);
}

.primary-navigation li{
    margin: 5px 15px;
    list-style: none;
}

.primary-navigation span{
    text-decoration: none;
    color: red;
}


.primary-navigation a{
    backdrop-filter: blur(5rem);
    text-decoration: none;
}

/*===============
Navigation Bar [end here]
===============*/

pre{
    color: white;
    margin: 90px 0 0;
    font-size: 1.5rem;
}
pre span{
    color: hsl(184, 100%, 50%);
}
